Repository FlowTrak/recorder: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,vue}": ["prettier --write", "eslint --fix"],
  "*.{json,md,yml,yaml,css,scss,html}": ["prettier --write"]
}

test: verify hooks are working
  test-hooks.ts
Due: prettier --write, eslint --fix

docs: add README, CONTRIBUTING, LICENSE and integrate UnoCSS
  .husky/commit-msg
  .husky/pre-commit
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
  src/ui/main.ts
  test-hooks.ts
  uno.config.ts
  vite.config.ts
Due: prettier --write, eslint --fix

feat: add UnoCSS styling and automated changelog with release-please
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.md
  release-please-config.json
  src/ui/Popup.vue
Due: prettier --write, eslint --fix

chore: add release-it config and workflow
  .github/workflows/release-it.yml
  .github/workflows/release-please.yml
  .release-it.json
  CHANGELOG.md
  package.json
Due: prettier --write

ci: setup release-it
  .release-it.json
  package-lock.json
  package.json
Due: prettier --write

ci: setup release-it
  .github/workflows/release-it.yml
Due: prettier --write

ci: fix release-it, add release-please
  .github/workflows/release-please.yml
  .release-it.cjs
  .release-it.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

ci: fix release-it,release-please
  .github/workflows/release-it.yml
  .release-it.cjs
Due: prettier --write

ci: fix release-it,release-please
  .lintstagedrc.json
Due: prettier --write

ci: fix release-it,release-please
  .release-it.cjs
Due: none

ci: fix release-it,release-please
  .github/workflows/release-please.yml
Due: prettier --write

chore(main): release recorder 1.1.0
  .release-please-manifest.json
  CHANGELOG.md
Due: prettier --write

ci: fix prettier errors
  .prettierignore
Due: none

ci: fix release-it, use FLOW_TRACK_ORG_TOKEN
  .github/workflows/release-it.yml
Due: prettier --write

ci: fix release-it, add permissions
  .github/workflows/release-it.yml
Due: prettier --write

ci: release-it, on workflow dispatch only
  .github/workflows/release-it.yml
Due: prettier --write

chore(main): release recorder 1.1.0
  .release-please-manifest.json
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
